<%- include partials/header %>

<h1><%= post.title %></h1>
    <p>
        <%= post.contentBody %>
    </p>
<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger" id="deleteButton" type="submit">Delete</button>
</form>

<%- include partials/footer %>